# GitHub Runner registration. Token expires every hour — grab from
# https://github.com/<owner>/<repo>/settings/actions/runners/new?arch=x64&os=linux
GH_REPO=https://github.com/mdrakiburrahman/ivm-bench
GH_RUNNER_TOKEN=

# The resource group and subscription where the infra is deployed
TF_RESOURCE_GROUP=ivm-bench-gh-rg
TF_SUBSCRIPTION_ID=

# Terraform state
TF_STATE_STORAGE_ACCOUNT_CONTAINER=
TF_STATE_STORAGE_ACCOUNT_KEY=
TF_STATE_STORAGE_ACCOUNT_NAME=