livy.spark.master = local[${SPARK_LOCAL_THREADS}]
livy.spark.deploy-mode = client
livy.file.local-dir-whitelist = /
livy.server.session.timeout = 3h
livy.repl.enable-hive-context = true
livy.server.spark-home = /opt/spark
