flask>=3.0
gunicorn>=22.0
matplotlib>=3.8
dbt-core~=1.11
dbt-fabricspark @ git+https://github.com/microsoft/dbt-fabricspark.git@5323ae26d2a92285b0620b3baff1753142e1df41
dbt-duckdb>=1.9
dbt-databricks~=1.11
databricks-sql-connector>=4.0
databricks-sdk>=0.40
duckdb>=1.5.2
deltalake>=0.18
dbt-feldera @ git+https://github.com/mdrakiburrahman/feldera.git@41548878813d750a25f531280517b96ede7b56a1#subdirectory=python/dbt-feldera
sqlglot>=26.0
